.menu{
    z-index: 1;
    width: 100%;
    position: fixed;
}
.slider{
    background-color: lightblue;
}
.block5 img{
    width: 100%;
    height: 800px;
}
.block2 h6{
    text-align: right;
}
.block3 h6{
    text-align: right;
}
.block6 h6{
    text-align: right;
}
.block10 p{
    color: aqua;
}
.block10 a{
    text-decoration: none;
    color: black;
}
.carousel-inner.carousel-item active.carousel-caption{
    max-width: 400px;
}